@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

.container{
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    border-bottom: 1px solid gray;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}


.header-btn{
    display: flex;
    gap: 20px;
}
.signin{
    border: none;
    background-color: black;
}

.signin a{
    color: #AC6CFF;
    text-decoration: none;
}

.signup{
    border: none;
    background-color: #AC6CFF;
    padding: 10px 20px;
    border-radius: 10px;

}
.signup a{
    color: white;
    text-decoration: none;
}



.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.left p{
    font-size: 61px;
    line-height: 130%;
    font-weight: 700;
    width: 90%;
}
.left p span{
    color: #AC6CFF;
}
.left .drive{
    font-size: 20px;
    width: 80%;
    padding: 30px 0px;
}

.startbutton{
    display: flex;
    gap: 20px;
    
}
.startbutton a{
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
}
.startnow{
    background-color: #AC6CFF;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
}

.watchdemo{
    background-color: #EADAFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

.watchdemo a{
    color: #AC6CFF;
}

.watchdemo img{
    width: 12px;
    text-align: center;
    padding-right: 8px;
}

.right{
    position: relative;
}
.right .hero{
    width: 500px;
}

.circle{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 30px;
}



.section2{
    background-color: #AC6CFF;
    padding: 50px 0px;
}

.section2 p{
    font-size: 24px;
    text-align: center;
    padding-bottom: 50px;
}
.section2 .partners{
    display: flex;
    justify-content: space-evenly;
}
.section2 .partners img{
    width: 80px;
    height: 80px;
}

.section3{
    background-color: rgba(47, 28, 72, 1);
    padding: 100px 50px;
}
.section3 h3{
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
}
.section3 p{
    font-size: 20px;
    text-align: center;
}

.services{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

}

.ser1{
    background-color: #AC6CFF;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 200px;
    height: 160px;
    border-radius: 20px;
}
.ser1 img{
    width: 90px;
    height: 90px;
}
.ser1 p{
    font-size: 20px;
}


.section4{
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section4 h3{
    font-size: 40px;
}

.section4 h3 em img{
    margin-bottom: 10px;
}

.section4 .row1{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.row1 .left{
    display: flex;
    justify-content: center;
    width: 50%;
}
.row1 .left img{
    width: 430px;
    height: 400px;
}

.row1 .right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.row1 .right h3{
    font-size: 35px;
    width: 70%;
}   

.row1 .right p{
    font-size: 16px;
    width: 70%;
    padding: 20px 0px 40px 0px;
}

.row1 .right button{
    align-self: flex-start;
    margin-left: 90px;

}

.row1 .right button a{
    text-decoration: none;
    color: white;
    
}

.change{
    flex-direction: row-reverse;
    padding-left: 30px;
}

.section5{
    background-color: rgba(43, 32, 56, 1);
    padding: 70px 0px;
}
.section5 .work{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.section5 .counters{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

.section5 .col1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section5 .round{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AC6CFF;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.col1 h3{
    font-size: 32px;
    padding-top: 10px ;
}
.col1 p{
    font-size: 20px;
}


.section6{
    background-color: rgba(44, 46, 51, 1);
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6 p{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AC6CFF;
    width: 950px;
    height: 390px;
    border-radius: 30px;
    padding: 50px 0px;
    margin-top: 50px;
}
.testimonial .sarah{
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}
.testimonial .owner{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 30px;
}
.testimonial .b-test{
    font-weight: 700;
    font-size: 20px;
    width: 75%;
    padding-bottom: 30px;
}

.section7{
    background-color: #AC6CFF;
    padding: 50px 0px 100px 0px;
}

.section7 .pricing{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
.section7 .best{
    font-size: 20px;
    font-weight: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.pricingcards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 28, 72, 1);
    width: 309px;
    height: 379px;
    border-radius: 30px;
}
.pricing1 .starter{
    font-size: 24px;
    font-weight: 600;
}
.pricing1 .dollar{
    font-size: 40px;
    font-weight: 600;
    color: #AC6CFF;
}
.pricing1 ul{
    padding-left: 50px;
    padding-bottom: 30px;
}

.pricing1 ul li{
    font-size: 16px;
    font-weight: 400;
}
.pricing1 button{
    background-color: #AC6CFF;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
}
.pricing1 button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.expensive{
    margin-top: -20px;
}


.section8{
    background-color: rgba(47, 28, 72, 1);
    padding: 80px 70px 40px 70px;
}

.standout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.standout p{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 50px;
}

.standout .standbtn{
    background-color: rgba(172, 108, 255, 1);
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    margin-right: 100px;
}
.standout .standbtn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}


footer{
    background-color: rgba(44, 46, 51, 1);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px 70px 60px 70px;
}

footer .col1{
    width: 40%;
}

footer .col1 img{
    width: 150px;
    padding-bottom: 50px;
}

footer .col1 .nusa{
    width: 80%;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

footer .col2{
    width: 20%;
}

footer .col3{
    width: 20%;
}

footer .col4{
    width: 20%;
}
footer .col4 ul li img{
    background-color: white;
    border-radius: 100%;
    padding: 7px;
}

footer .col4 ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}

footer p{
    font-size: 16px;
    font-weight: 500;
    color: #AC6CFF;
}

footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-top: 50px;
}
footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

}

.copyr{
    padding: 0px 70px;
    background-color: rgba(44, 46, 51, 1);
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid white;
    padding: 40px 0px;
}

.copyright p{
    font-size: 18px;
    font-weight: 500;
}

.toggle{
    display: none;
}


@media (max-width: 1200px){

    .left p{
        font-size: 50px;
    }

    .ser1 {
    background-color: #AC6CFF;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 180px;
    height: 160px;
    border-radius: 20px;
}

.row1 .right button {
    align-self: flex-start;
    margin-left: 80px;
}

.standout .standbtn {
    background-color: rgba(172, 108, 255, 1);
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    margin-right: 50px;
}

.standout p {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 50px;
}

footer .col1 .nusa {
    width: 80%;
    font-size: 13px;
    font-weight: 500;
    color: white;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

footer .col4 ul li img {
    background-color: white;
    border-radius: 100%;
    padding: 7px;
    width: 25px;
}

.copyright p {
    font-size: 16px;
    font-weight: 500;
}


}


@media (max-width: 1024px){

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    border-bottom: 1px solid gray;
}

.logo img{
    width: 100px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.signup {
    border: none;
    background-color: #AC6CFF;
    padding: 8px 16px;
    border-radius: 10px;
}

    .left p {
        font-size: 35px;
    }

    .left .drive {
    font-size: 18px;
    width: 80%;
    padding: 20px 0px;
}

.startnow {
    background-color: #AC6CFF;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    font-weight: 600;

}

.startbutton a {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 14px;
}

.watchdemo {
    background-color: #EADAFF;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
}

.right .hero {
    width: 450px;
}

.circle {
    width: 125px;
    height: 125px;
    position: absolute;
    left: 30px;
}

.ser1 {
        background-color: #AC6CFF;
        padding: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        width: 150px;
        height: 145px;
        border-radius: 20px;
    }

    .section3 {
    background-color: rgba(47, 28, 72, 1);
    padding: 50px 50px;
}

.row1 .right h3 {
    font-size: 30px;
    width: 70%;
}

.row1 .right p {
    font-size: 15px;
    width: 70%;
    padding: 15px 0px 30px 0px;
}

    .row1 .right button {
        align-self: flex-start;
        margin-left: 65px;
    }

    .standout .standbtn {
        background-color: rgba(172, 108, 255, 1);
        padding: 10px 25px;
        border: none;
        border-radius: 20px;
        margin-right: 0px;
    }

}

@media (max-width: 992px){
    .ser1 {
        background-color: #AC6CFF;
        padding: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 142px;
        height: 140px;
        border-radius: 20px;
    }
}


@media(max-width: 768px){

    nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        border-bottom: 1px solid gray;
    }

    .logo img {
        width: 90px;
    }

        nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 10px;
    }

    .signin a {
    color: #AC6CFF;
    text-decoration: none;
    font-size: 11px;
}

.signup a {
    color: white;
    text-decoration: none;
    font-size: 11px;
}

    .signup {
        border: none;
        background-color: #AC6CFF;
        padding: 4px 14px;
        border-radius: 10px;
    }

    .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.right .hero {
        width: 360px;
    }

        .left p {
        font-size: 30px;
    }

        .left .drive {
        font-size: 14px;
        width: 80%;
        padding: 16px 0px;
    }

    .ser1 {
        background-color: #AC6CFF;
        padding: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 85px;
        height: 120px;
        border-radius: 20px;
    }

    .ser1 img {
    width: 65px;
    height: 65px;
}

.ser1 p {
    font-size: 13px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AC6CFF;
    width: 600px;
    height: 280px;
    border-radius: 30px;
    padding: 50px 0px;
    margin-top: 50px;
}


.testimonial .b-test {
    font-weight: 700;
    font-size: 12px;
    width: 80%;
    padding-bottom: 21px;
}

.row1 .left img {
    width: 310px;
    height: 280px;
}

.row1 .right h3 {
        font-size: 20px;
        width: 70%;
    }

        .row1 .right p {
        font-size: 12px;
        width: 70%;
        padding: 15px 0px 30px 0px;
    }

        .row1 .right button {
        align-self: flex-start;
        margin-left: 50px;
    }

    .row1 .right button a {
    text-decoration: none;
    color: white;
    font-size: 11px;
}

.col1 h3 {
    font-size: 22px;
    padding-top: 10px;
}

.col1 p {
    font-size: 13px;
}

.section5 .round{
    width: 80px;
    height: 80px;
}

.section5 .round img{
    width: 50px;
}

.pricing1 ul li {
    font-size: 13px;
    font-weight: 400;
}

.pricing1 ul li {
    font-size: 12px;
    font-weight: 400;
}

.pricing1 button {
    background-color: #AC6CFF;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}

.pricing1 button a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

.pricing1 ul {
    padding-left: 27px;
    padding-bottom: 30px;
}

.section7 {
    background-color: #AC6CFF;
    padding: 50px 20px 50px 20px;
}


.pricing1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 28, 72, 1);
    width: 309px;
    height: 323px;
    border-radius: 30px;
}

    .standout p {
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 25px;
    }

    footer {
    background-color: rgba(44, 46, 51, 1);
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    gap: 15px;
    padding: 40px 50px 40px 50px;
}

footer .col1 img {
    width: 120px;
    padding-bottom: 43px;
}

    footer .col1 .nusa {
        width: 80%;
        font-size: 10px;
        font-weight: 500;
        color: white;
    }

        footer ul li a {
        color: white;
        text-decoration: none;
        font-size: 10px;
        font-weight: 500;
    }

    footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding-top: 49px;
}

    footer .col4 ul li img {
        background-color: white;
        border-radius: 100%;
        padding: 3px;
        width: 12px;
    }

    .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    padding: 20px 0px;
}

    .copyright p {
        font-size: 12px;
        font-weight: 500;
    }

}


@media (max-width: 576px){
    nav{
        display: none;
    }

    .header-btn{
        display: none;
    }

    .toggle{
        display: block;
    }
    .toggle img{
        width: 25px;

    }

    .banner{
        display: block;
    }

    .banner .right{
        width: 100%;
        padding-top: 30px;
        text-align: center;
    }

        .circle {
        width: 110px;
        height: 110px;
        position: absolute;
        left: 98px;
    }

    .section2 p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}


.section2 {
    background-color: #AC6CFF;
    padding: 30px 0px;
}

.section2 .partners img {
    width: 50px;
    height: 50px;
}

    .section3 {
        background-color: rgba(47, 28, 72, 1);
        padding: 30px 30px;
    }

    .section3 p {
    font-size: 16px;
    text-align: center;
}

.services {
    display: block;
    padding-top: 30px;
    padding-left: 29%;
}

    .ser1 {
        background-color: #AC6CFF;
        padding: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
        height: 140px;
        border-radius: 20px;
    }

    .section4 h3 {
    font-size: 26px;
}

.section4 {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

    .row1 .right p {
        font-size: 10px;
        width: 70%;
        padding: 10px 0px 20px 0px;
    }

        .row1 .left img {
        width: 240px;
        height: 220px;
    }

        .row1 .right h3 {
        font-size: 15px;
        width: 70%;
    }


        .row1 .right button {
        align-self: flex-start;
        margin-left: 37px;
        padding: 5px 15px;
    }

        .row1 .right button a {
        text-decoration: none;
        color: white;
        font-size: 10px;
    }

    .section6 {
    background-color: rgba(44, 46, 51, 1);
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6 p {
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

    .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #AC6CFF;
        width: 400px;
        height: 250px;
        border-radius: 30px;
        padding: 50px 0px;
        margin-top: 30px;
    }

    .pricingcards {
    display: block;
    padding-left: 20%;
}

.section7 {
        background-color: #AC6CFF;
        padding: 30px 20px 30px 20px;
    }

    .section7 .best {
    font-size: 20px;
    font-weight: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}



    .pricing1 ul li {
        font-size: 16px;
        font-weight: 400;
    }

        .pricing1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgba(47, 28, 72, 1);
        width: 309px;
        height: 300px;
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 20px;

    }

    .section8 {
    background-color: rgba(47, 28, 72, 1);
    padding: 40px 40px 40px 40px;
}

.standout p {
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 25px;
    }

    .standout .standbtn a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}


    footer .col1 img {
        width: 105px;
        padding-bottom: 40px;
    }

    footer p {
    font-size: 11px;
    font-weight: 500;
    color: #AC6CFF;
}

    footer .col1 .nusa {
        width: 80%;
        font-size: 9px;
        font-weight: 500;
        color: white;
        line-height: 15px;
    }

        footer ul li a {
        color: white;
        text-decoration: none;
        font-size: 7px;
        font-weight: 500;
    }

        .copyright p {
        font-size: 11px;
        font-weight: 500;
    }

    .copyr{
        padding: 0px 50px;
    }



}